.hamburger-menu {
  gap: var(--gap);
  --hambuger-height: calc(var(--bar-height) * 3 + var(--gap) * 2);
  --x-width: calc(var(--hambuger-height) * var(--square-root-of-two));

  &::before,
  &::after,
  input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground-color);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }

  &.checked {
    &::before {
      rotate: 45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / -2);
    }
    &::after {
      rotate: -45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / 2);
    }
  }

  input {
    &:checked {
      opacity: 0;
      width: 0;
    }
  }
}
